/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    /* General styles */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'lato', sans-serif;
    background-color: white;
    position: relative;
}

/*Header*/

/* Navigation and links */
.topnav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(131, 224, 201);
    overflow: hidden;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'oswald', sans-serif;
}

.topnav a:hover {
    background-color: whitesmoke;
    color: black;
}

.topnav a.active {
    background-color: white;
    color: black;
}

/*Main section*/
main {
    /* Make main element push footer down */
    flex: 1 0 auto;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(196, 174, 133);
}

/* Picture with title */
.container {
    position: relative;
}

.content, h1 {
    color: rgb(190, 182, 182,7);
    font-size: 40px;
    font-family: 'oswald', sans-serif;
    text-transform: uppercase;
    text-align: left;
    }

.container .content {
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 0 auto;
}


/* Text setting main*/

main {
    font-family: 'oswald', sans-serif;
    line-height: normal;
}

main h3 {
    text-align: center;
}

.About-us {
    margin-bottom: 10px;
    }

.about-school {
    margin-bottom: 20px;
    text-align: center;
}

h5 {
    text-align: center;
}

#courses {
    background-color: rgb(103, 103, 136);;
}
.courses {
    margin-bottom: 10px;
    text-align: center;
     display: flex;
    justify-content: space-around;
    column-gap: 30px;
    background-color: rgb(103, 103, 136);
}

ul {
    column-count: 2;
    list-style-type: none;
    
}

/* Form */
#signup {
    background-image: url("../images/keysandtrumpet.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
    text-align: center;
}

#signup-form>h3 {
    color: #fafafa;
    margin-bottom: 20px;
    text-align: center;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

#instrumentbox {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 70px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.apply-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgb(131, 224, 201);
    color: black;
}


/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: rgb(131, 224, 201);
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: black;
}
