/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* General styles */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'lato', sans-serif;
    background-color: white;
    position: relative;
}

/*Header*/
header {
    padding: 10px 20px 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(177, 66, 25);

}

header h1 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(34, 32, 32);
    margin-top: 5px;
    font-family: 'Oswald';
}

nav {
    background-color: lightgoldenrodyellow;
    padding: 5px 0 5px 0;
    line-height: 32px;

}

#menu {
    display: flex;
    justify-content: space-around;
    font-size: 90%;
    font-family: 'Oswald';
    letter-spacing: 1px;
    list-style-type: none;

    /*background-image: url('../images/navbar.webp')*/
}

li>a {
    color: black;
}

#menu a:hover {
    color: black;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    display: flex;
    flex: 1 0 auto;
    margin-top: 0;
    background-color: white;
}

/* Footer */
footer {
    background-color: rgb(177, 66, 25);
}


/* Media query: tablets and larger (768px and up) 
@media screen and (min-width: 768px) {

    /* Header */
   /* nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 4rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    } 

}*/