body {
    font-family: 'Arial', sans-serif;
    background-color: white;
}

#wrap {
    max-width: 960px;
    margin: 0 auto;
    background-color: darkblue;
    padding: 32px;
    
}

header {
    background-color: darkgrey;
    height: 100px;
    padding: 4px;
    background-image: url('../images/onstage-background.webp')
}

header h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    line-height: 40px;
}

.menu {
    padding: 5px 0 5px 0;
    text-align: center;
    line-height: 32px;
    background-color: black;
}

ul.menu {
    margin-top: 15px;
}

.menu>li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 16px;
}

.menu>a {
    text-decoration: none;
    color: black;
    padding: 8px;
    font-variant: small-caps;
}

.menu a:hover {
    color: black;
}